<div id="f">
	<div class="container">
		<div class="row">
            <div class="col-lg-4">
			    <h3>Sobre mim</h3>
                <p>
									Sou coach certificado e empreendedor. Já ajudei centenas de outros empreendedores a se desenvolverem e a terem resultados em seus negócios. Hoje ajdo pessoas a saírem do ciclo da auto-sabotagem e empreenderem suas próprias vidas.
                </p>
            </div>
			<div class="col-lg-4">
				<h3>Contato</h3>
					<p>
						Brasília - DF,<br>
						Brasil.<br>
						+55 (61) 9 8625-0901<br/>
						contato@felipearaujocoach.com.br
					</p>
			</div>
			<div class="col-lg-4">
				<h3>E-book Grátis!</h3>
				<p>Receba GRATUITAMENTE o meu e-book sobre as principais chaves para empreender sua própria vida.</p>
				<!-- <a href="http://eepurl.com/b6EClD" target="_blank" class="btn btn-theme">INSCREVER-SE</a> -->
				<button type="button" class="btn btn-primary btn-lg col-lg-12" data-toggle="modal" data-target="#ebook-modal">
					Baixar e-book
				</button>
			</div>
		</div>
	</div>
</div>

<div id="c">
	<div class="container">
		<div class="pull-right">
		</div>
	</div>
</div>

<div class="modal fade" id="ebook-modal" tabindex="-1" role="dialog" >
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Quero meu e-book!</button>
				</div>
			</div>
		</div>
	</div>

<script src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>