<div id="f">
	<div class="container">
		<div class="row">
            <div class="col-lg-4">
			    <h3>Sobre Felipe Araújo</h3>
                <p>Formado em Análise e Desenvolvimento de Sistemas pelo UniCEUB, Empreendedor e Certificado em Life Coaching.
                </p>
            </div>
			<div class="col-lg-4">
				<h3>Entre em contato</h3>
					<p>
						Brasília - DF,<br>
						Brasil.<br>
						+55 (61) 98625-0901<br/>
						contato@felipearaujocoach.com.br
					</p>
			</div>
			<div class="col-lg-4">
				<h3>Newsletter</h3>
				<p>Receba GRATUITAMENTE conteúdos relevantes sobre desenvolvimento pessoal e empreendedorismo. Sua privacidade é respeitada e NUNCA será enviado spam.</p>
				<a href="http://eepurl.com/b6EClD" target="_blank" class="btn btn-theme">INSCREVER-SE</a>
			</div>
		</div>
	</div>
</div>

<div id="c">
	<div class="container">
		<div class="pull-right">
		</div>
	</div>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>