<div id="f">
	<div class="container">
		<div class="row">
            <div class="col-lg-4">
			    <h3>Sobre mim</h3>
                <p>
					Sou coach certificado e empreendedor. <br />Já ajudei centenas de outros empreendedores a se desenvolverem e a terem resultados em seus negócios. Hoje ajudo pessoas a saírem do ciclo da auto-sabotagem e <b>empreenderem suas próprias vidas.</b>
                </p>
            </div>
			<div class="col-lg-4">
				<h3>Contato</h3>
					<p>
						Brasília - DF,<br>
						Brasil.<br>
						+55 (61) 9 8625-0901<br/>
						contato@felipearaujocoach.com.br <br/>
						<b><a href="https://docs.google.com/forms/d/e/1FAIpQLScnAqGx5EJohJ-dsZgc5qBxxF5G5ILswJpg1kS-LHn7Mj9RMw/viewform">Agende uma sessão gratuita</a></b>
					</p>
						
			</div>
			<div class="col-lg-4">
				<h3>Empreendedor Inabalável </h3>
				<p>Receba o e-book <b>7 princípios do Empreendedor Inabalável.</b> <b>Grátis!</b></p>
				<!-- <a href="http://eepurl.com/b6EClD" target="_blank" class="btn btn-theme">INSCREVER-SE</a> -->
				<button type="button" class="btn btn-primary btn-lg col-lg-12" data-toggle="modal" data-target="#ebook-modal">
					Eu quero o e-book!
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ebook-modal" tabindex="-1" role="dialog" >
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Siga os passos para receber o e-book:
				</div>
				<div class="modal-body">
					<h3><b>1º passo:</b> preencha com seu melhor e-mail</h3>
					<form  action="http://felipearaujocoach.us8.list-manage.com/subscribe/post?u=88bb4dc8da583a13281753680&amp;id=2b6e86cf62" 
						   method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div class="form-group">
							<label class="control-label" for="email">E-mail: </label>
							<input class="form-control"  type="email" name="EMAIL" id="mce-EMAIL" placeholder="Seu melhor e-mail" />
							<span><b>Respeito sua privacidade e não faço spam.</b></span>
						</div>
						<div class="form-group">
							<button type="submit" name="subscribe" id="mc-embedded-subscribe"  class="btn btn-primary">Enviar meu pedido!</button>
						</div>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_88bb4dc8da583a13281753680_2b6e86cf62" tabindex="-1" value=""></div>
					</form>
					<h3><b>2º passo:</b> vá até seu e-mail e confirme que realmente deseja receber!</h3>
					
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal" class="btn btn-success">Pronto. Fiz todos os passos!</button>						
				</div>
			</div>
		</div>
	</div>

<script src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script>
	$('.carousel').carousel({
		interval: 10000
	});
</script>