---
layout: default
title: "Blog"
---
{% include post-date.html %}
<div class="container">
    <div class="row main-blog">
        <div class="col-lg-12">
            {% for post in  paginator.posts %}
            <div class="row">
                <div class="col-md-2 blog-date">
                    <p>
                        <b>Publicado</b><br/>
                        {% assign m = post.date | date: "%-m" %}
                        {{ post.date | date: "%-d" }}
                        de
                        {% case m %}
                          {% when '1' %}Janeiro
                          {% when '2' %}Fevereiro
                          {% when '3' %}Março
                          {% when '4' %}Abril
                          {% when '5' %}Maio
                          {% when '6' %}Junho
                          {% when '7' %}Julho
                          {% when '8' %}Agosto
                          {% when '9' %}Setembro
                          {% when '10' %}Outubro
                          {% when '11' %}Novembro
                          {% when '12' %}Dezembro
                        {% endcase %} de
                        {{ post.date | date: "%Y" }}
                    </p>
                </div>
                <div class="col-md-9 blog-title">
                    <h2>{{post.title}}</h2>
                </div>
                <img class="img-responsive" src="{{post.abstract-image}}" alt="">
                <br/>
                <div class="col-md-10 col-md-offset-2">
                    {{ post.excerpt }}
                    <p><a href="{{post.url}}">Leia Mais...</a></p>
                </div>
            </div>
            {% endfor %}	    	
        </div>
    </div>
	<hr>
	<div class="row">
		<div class="col-md-6 col-md-offset-5">
				<p>
					<tag>
						<i class="icon-caret-left"></i> 
						  {% if paginator.previous_page %}
						    <a href="{{ paginator.previous_page_path }}">PÁGINA ANTERIOR</a>
						  {% else %}
						    PÁGINA ANTERIOR
						  {% endif %} | 	
						  {% if paginator.next_page %}
							 <a href="{{ paginator.next_page_path }}">PRÓXIMA PÁGINA</a>
						  {% else %}
						  	PRÓXIMA PÁGINA
						  {% endif %} <i class="icon-caret-right"></i>
					</tag>
				</p>
		</div>
	</div>
</div>